@model IEnumerable<SibilaApp.Models.Prestamos>
@{
    ViewData["Title"] = "Devoluciones";
}
<div class="container-fluid">
    <h2 class="mb-4">Lista de Devoluciones</h2>

        <table class="table table-bordered table-striped table-hover" id="tablaPrestamos">
        <thead class="table-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Usuario.Nombre)</th>
                <th>@Html.DisplayNameFor(model => model.Usuario.Apellido)</th>
                <th>@Html.DisplayNameFor(model => model.Usuario.Documento)</th>
                <th>@Html.DisplayNameFor(model => model.Libro.Titulo)</th>
                <th>@Html.DisplayNameFor(model => model.Libro.Autor)</th>
                <th>@Html.DisplayNameFor(model => model.FechaPrestamo)</th>
                <th>@Html.DisplayNameFor(model => model.FechaDevolucion)</th>
                
            </tr>
        </thead>
        <tbody class="table-group-divider" id="tablaPrestamos" width="100%" cellspacing="0">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Usuario.Nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.Usuario.Apellido)</td>
                    <td>@Html.DisplayFor(modelItem => item.Usuario.Documento)</td>
                    <td>@Html.DisplayFor(modelItem => item.Libro.Titulo)</td>
                    <td>@Html.DisplayFor(modelItem => item.Libro.Autor)</td>
                    <td>@Html.DisplayFor(modelItem => item.FechaPrestamo)</td>
                    <td>@Html.DisplayFor(modelItem => item.FechaDevolucion)</td>                   
                    
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            //Llamar a datatable
            $('#tablaPrestamos').DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
}



